:root {
  /* General colors */

  --white: #fff;
  --black: #000;

  --bg-body: #3a4965; /* background body color */
  --bg-table: #fafafa; /* background table color */

  --gen-grey-init: #484848; /* general text grey color */
  --gen-grey-icon: #848484; /* general icon grey color */

  --t-bg-row-light: #f2f2f2; /* table body row background color light */
  --t-bg-row-dark: #e3e3e3; /* table body row background color dark */

  --cell-green-init: #89c331; /* brand green color initial */
  --cell-green-extra: #79b027; /* brand green color additional */

  --cell-red-init: #f04a56; /* brand red color initial */
  --cell-red-extra: #df3a46; /* brand red color additional */

  --cell-sea-init: #20807c; /* brand blue color initial */
  --cell-sea-extra: #16736f; /* brand blue color additional */

  --cell-dark-extra: #404040; /* brand dark color additional */
  --cell-dark-shadow: #c4c4c4; /* brand dark color additional */

  --btn-dark-init: #414141; /* brand dark color additional */
  --btn-dark-extra: #343434; /* brand dark color additional */

  --row-footer-bg: #eeeeee; /* background color for footer 1 table */

  /* All others not using*/

  background: #f4f4f4;
  background: #dddddd;
}
