/* GENERAL STYLES */

body {
  font-family: "Arimo", sans-serif;
  color: var(--gen-grey-init);
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-body);
}

.conteiner {
  width: 1140px;
  margin: 0 auto;
}

/* COLORS STYLES */

.white {
  color: var(--white);
}

.bg-color-table {
  background-color: var(--bg-table);
}

.bg-color-green {
  background-color: var(--cell-green-init);
}

.bg-color-red {
  background-color: var(--cell-red-init);
}

.bg-color-sea {
  background-color: var(--cell-sea-init);
}

.btn-bg-color-grey {
  background-color: var(--gen-grey-init);
}

/* COMMON STYLES */

svg {
  fill: var(--gen-grey-icon);
}

table {
  width: 100%;
  margin: 25px 0 50px;
}

table,
th,
td {
  border: 1px solid goldenrod;
}

th,
td {
  vertical-align: middle;
}

tr {
  background-color: var(--bg-table);
}

a {
  text-decoration: none;
}

/* First Table */

/* Head */

.fst-cell-head.title-clmn {
  height: 155px;
}

.fst-head-row-sec {
  height: 85px;
}

.fst-cell-head.sec-clmn {
  width: calc((1140px - 300px) / 3);
}

.fst-head-choose {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.fst-head-promotion {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.fst-head-promotion.active {
  font-size: 30px;
}

.fst-head-price {
  display: block;
  font-size: 30px;
}

.fst-brd-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -5px;
}

.fst-brd-doll {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.fst-brd-doll-cent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  line-height: 28px;
  position: relative;
  top: -11px;
}

.fst-brd-cent {
  font-size: 24px;
  font-weight: 700;
}

.fst-brd-month {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -5px;
  left: 4px;
}

/* First Table */
/* Body */

.fst-row-main {
  height: 72px;
}

.fst-text-main {
  display: inline-block;
  vertical-align: bottom;
}

/* First Table */
/* Footer */
.fst-foot-row {
  height: calc(680px - 155px - (6 * 72px));
}

/* Second Table */
/* Header */
.snd-head-chose {
  font-weight: 700;
  line-height: 22px;
}

.snd-head-price {
  display: block;
  font-size: 20px;
}

/* Second Table */
/* Body */

/* Second Table */
/* Foot */
